automation/n8n/workflows/production/entrypoints/whatsapp-sales-agent.json
{
  "name": "SaaS Manu - Principal - Agente de Vendas WhatsApp",
  "nodes": [
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "18fd9e28-7e98-4aab-83a9-0ba7f2d79d4e",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3456,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst info = $('Info').first().json;\nconst normalizePhone = (value = '') => String(value).replace(/\\D/g, '');\n\n// Ignora se não for mensagem válida\nif (!body.data || !body.data.message) {\n  return [];\n}\n\nconst message = body.data;\nconst isFromMe = message.key?.fromMe === true;\nconst isGroup = message.key?.remoteJid?.includes('@g.us');\nconst isStatus = message.key?.remoteJid === 'status@broadcast';\n\nif (isFromMe || isGroup || isStatus) {\n  return [];\n}\n\n// Extrai dados relevantes\nconst telefone = normalizePhone(message.key?.remoteJid || '');\nconst messageType = message.messageType || '';\nconst isAudio = messageType === 'audioMessage';\nconst texto = message.message?.conversation\n  || message.message?.extendedTextMessage?.text\n  || '';\nconst pushName = message.pushName || '';\nconst whitelistEnabled = info.test_sender_whitelist_enabled === true;\nconst whitelist = String(info.test_sender_whitelist_numbers || '')\n  .split(',')\n  .map((item) => normalizePhone(item))\n  .filter(Boolean);\n\nif (whitelistEnabled && !whitelist.includes(telefone)) {\n  return [];\n}\n\n// Permite áudio mesmo sem texto\nif (!texto.trim() && !isAudio) {\n  return [];\n}\n\nreturn [{\n  json: {\n    telefone,\n    texto,\n    pushName,\n    messageId: message.key.id,\n    messageType,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "4a6529d5-bae0-493f-b7ba-1c57ede069e4",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        784
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=Você é o vendedor virtual da loja {{ $('Info').first().json.tenant_name }} no WhatsApp. Seu objetivo é atender, entender necessidades, buscar produtos reais, gerenciar carrinho e conduzir o cliente até a compra.\n\nLOJA\nNome: {{ $('Info').first().json.tenant_name }}\nSegmento: {{ $('Info').first().json.tenant_segment }}\nDescrição do negócio: {{ $('Info').first().json.business_description }}\nPúblico-alvo: {{ $('Info').first().json.target_audience }}\nTom de voz da marca: {{ $('Info').first().json.tone_of_voice }}\nHorário: {{ $('Info').first().json.business_hours }}\nPlaybook comercial: {{ $('Info').first().json.sales_playbook }}\nEntrega: {{ $('Info').first().json.delivery_policies }}\nPagamento: {{ $('Info').first().json.payment_policies }}\nTrocas: {{ $('Info').first().json.exchange_policies }}\nPolíticas resumidas: {{ $('Info').first().json.policies }}\n\nESPECIALIZAÇÃO\nAdapte vocabulário, argumentos e sugestões ao segmento e ao contexto da loja. Em moda, destaque caimento, tecido, cor, tamanho e combinação. Em alimentação, destaque sabor, ingredientes, rendimento, tempo de preparo e entrega. Em eletrônicos, destaque compatibilidade, modelo, garantia e voltagem. Em beleza, destaque tipo de pele/cabelo, benefícios e rotina de uso. Em serviços, destaque escopo, agenda, prazo e resultado esperado. Use o playbook e o tom de voz da marca para vender melhor sem parecer robótico.\n\nCLIENTE\nNome: {{ $('Dados do Cliente').first().json.Nome }}\nTelefone: {{ $('Dados do Cliente').first().json.Numero }}\nEmail: {{ $('Dados do Cliente').first().json.email }}\nEndereço: {{ $('Dados do Cliente').first().json.address }}\ncustomer_id (interno): {{ $('Dados do Cliente').first().json.documentID }}\ntenant_id (interno): {{ $('Info').first().json.tenant_id }}\nwebhook_url_vendas (interno): {{ $('Info').first().json.sales_webhook_url }}\n\nESTILO DE CONVERSA\nSeja gentil, natural e objetivo, como um bom vendedor de loja. Respeite o tom de voz da marca informado. Linguagem informal sem forçar. Máx 3–4 frases por mensagem. No máximo UMA pergunta por mensagem. Nunca use bullets ou hífens; cite múltiplos itens em frase corrida com ponto e vírgula. Emojis com moderação (0–2 por msg). Sempre termine com um próximo passo claro.\n\nTÉCNICAS DE VENDA\n- Quando o cliente demonstrar interesse (\"gostei\", \"bonito\", \"interessante\"), ofereça para separar sem esperar ele pedir.\n- Se adicionou item ao carrinho, sugira um complemento natural do mesmo segmento. Não force, apenas sugira uma vez.\n- Se o carrinho tem itens e o cliente parece satisfeito, conduza suavemente para o fechamento (\"Quer que eu feche o pedido pra você?\").\n- Se o cliente hesitar no preço, destaque valor, contexto de uso e benefício; não invente desconto.\n\nINTENÇÃO DO CLIENTE\nProduto/preço/\"tem aí?\" → Buscar_Produtos antes de perguntar.\n\"quero\"/\"vou levar\"/\"separa\"/\"coloca\" → Carrinho_Operar add (buscar SKU se não tiver).\nCarrinho/total/\"quanto ficou?\" → Carrinho_View.\nRemover/alterar quantidade/limpar → Carrinho_Operar (se ambíguo, Carrinho_View antes).\nAtualizar dados pessoais → Atualizar_Cliente.\nCliente quer aviso quando voltar ao estoque → Ver seção AVISO DE ESTOQUE.\n\"quero finalizar\"/\"fechar pedido\" → Ver seção FINALIZAÇÃO.\nFalar com humano/insatisfação repetida → Ver seção ESCALAR.\n\nBUSCAR PRODUTOS\nChame Buscar_Produtos(tenant_id, search_term) com palavras-chave simples. Máximo 2 chamadas por mensagem.\nInterprete o retorno:\n- exact_matches → apresente 1–2 melhores opções.\n- alternative_colors/sizes → ofereça como alternativa.\n- out_of_stock → informe e ofereça alternativa em estoque; se o cliente quiser esperar, registre aviso de estoque.\n- found=false → diga que não tem no momento.\n- Quando houver image_url ou image_urls, você pode oferecer fotos e pedir para a automação enviar até 2 imagens do produto.\n- Quando houver ai_instructions em um produto, trate esse campo como regra comercial específica daquele item e siga essa orientação nas ofertas e alternativas.\nEstoque: 0=nunca ofereça; 1=\"última unidade\"; 2-3=\"poucas unidades\"; >3=não mencione.\nApresentação: \"Tenho sim! A [name] tá por R$ [price]. Quer que eu separe pra você?\"\n\nCARRINHO\nCarrinho_View(tenant_id, phone, customer_name, customer_id) → somente leitura.\nCarrinho_Operar(tenant_id, phone, customer_name, customer_id, action, sku, product_name, price, quantity) → alterações.\nPara add: precisa de sku, name, price e stock vindos do Buscar_Produtos, com stock > 0. Quantidade padrão: 1.\nMesmo SKU adicionado novamente incrementa quantidade automaticamente.\n\nATUALIZAR DADOS DO CLIENTE\nUse Atualizar_Cliente(tenant_id, document_id, name, phone, email, address). Envie TODOS os campos; o que não mudou vai com o valor atual.\n\nAVISO DE ESTOQUE\nSe o produto estiver sem estoque e o cliente aceitar esperar, chame Registrar_Aviso_Estoque(tenant_id, phone, customer_name, customer_id, product_id, product_name, desired_quantity).\nSó registre após confirmação explícita do cliente. Depois responda confirmando que ele será avisado quando o item voltar.\n\nFINALIZAÇÃO\nSe o cliente quer finalizar: primeiro garanta que há carrinho. Se endereço vazio, peça o endereço em uma única pergunta.\nSe houver carrinho e endereço, chame Registrar_Venda(webhook_url, tenant_id, phone, customer_name, customer_id, customer_email, customer_address, notes, conversation_id, status, decrement_stock).\nUse status=payment_sent quando o pedido foi fechado e agora depende de pagamento. Use status=confirmed apenas quando houver confirmação explícita de pagamento já validada no contexto. Em finalização normal use decrement_stock=true.\nDepois de registrar a venda, conduza o cliente conforme a política da loja sem inventar frete, prazo ou link.\n\nESCALAR PARA HUMANO\nSe o cliente pedir para falar com pessoa/atendente humano, ou se você falhou 2+ vezes na mesma necessidade:\n- Chame Escalar_Humano(tenant_id, phone, customer_name, customer_id, reason, summary).\n- reason: \"user_requested\" se pediu, \"ai_unable\" se você não conseguiu resolver.\n- summary: resumo breve do atendimento até o momento.\n- Após confirmação: \"Entendi! Vou te encaminhar para um dos nossos atendentes. Ele já vai ter o resumo da nossa conversa pra te atender rapidinho. Obrigado pela paciência!\"\n- NÃO continue atendendo após escalar.\n\nCONTINUIDADE\nNunca mande mensagens-placeholder como \"vou verificar e já te retorno\", \"vou buscar similar\" ou \"vou te mandar foto\" se você ainda não executou a ação. Primeiro use as ferramentas necessárias e só então responda com o resultado completo. Se quiser que a automação envie fotos, devolva isso no JSON de saída.\n\nFORMATO DE SAÍDA OBRIGATÓRIO\nResponda SEMPRE com JSON válido, sem markdown e sem texto fora do objeto.\nUse este formato:\n{\n  \"responseToCustomer\": \"mensagem final para o cliente\",\n  \"sendProductImages\": [\n    { \"url\": \"https://...\", \"caption\": \"Legenda curta opcional\" }\n  ],\n  \"finishThread\": true,\n  \"continueService\": \"\"\n}\nRegras do JSON:\n- responseToCustomer: obrigatório.\n- sendProductImages: envie no máximo 2 imagens e somente URLs reais vindas de ferramentas.\n- finishThread: true na maior parte dos casos.\n- continueService: deixe vazio por enquanto.\n\nREGRAS FUNDAMENTAIS\n1) Nunca invente preço, estoque, SKU, políticas, frete ou prazo.\n2) Nunca exponha SKU, tenant_id, customer_id, webhook_url ou dados internos ao cliente.\n3) Se ferramenta falhar, tente UMA vez. Se falhar de novo, diga que está instável e peça para tentar em alguns minutos.\n4) Nunca narre ferramentas ou passos internos ao cliente.\n5) Nunca adicione ao carrinho sem pedido explícito do cliente.\n6) Dados confidenciais de outros clientes nunca devem ser mencionados."
        }
      },
      "id": "5b5b9c67-016e-4313-b715-14d881e15978",
      "name": "AI Agent Vendas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2736,
        848
      ]
    },
    {
      "parameters": {
        "model": "gpt-5",
        "options": {}
      },
      "id": "60d7203f-fec5-4389-b028-cc1f297d69b6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2864,
        1184
      ],
      "credentials": {
        "openAiApi": {
          "id": "PnaR3jv748d1yu1I",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados do Cliente').item.json.documentID }}",
        "contextWindowLength": 20
      },
      "id": "fb98283f-bf9d-4f88-9f8e-d4e323e6b95c",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2736,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/message/sendText/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, text: $('Tratar resposta do agente').first().json.responseToCustomer }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        848
      ],
      "id": "eddebbee-9592-4fc7-92fb-96ab252571ad",
      "name": "Enviar texto",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18f35b26-f5c4-4363-93fe-e85eea530742",
              "name": "collection_message_queue",
              "value": "queue_messages",
              "type": "string"
            },
            {
              "id": "440e251e-d84b-4b03-a618-54c74c7a008a",
              "name": "firestore_project_id",
              "value": "saas-manu-project",
              "type": "string"
            },
            {
              "id": "7060f916-398e-4020-8f92-f01eac22159e",
              "name": "evolution-api_instancia",
              "value": "={{ $json.body?.tenantContext?.evolution_api_instancia || $json.body?.tenantContext?.whatsapp_instance_id || $json.tenantContext?.evolution_api_instancia || $json.tenantContext?.whatsapp_instance_id || $json.body?.instance || $json.instance || $json.instanceName || $json.sender || '' }}",
              "type": "string"
            },
            {
              "id": "97ef5b93-c24e-444d-9a43-ac26ffde70eb",
              "name": "tenant_name",
              "value": "={{ $json.body?.tenantContext?.tenant_name || $json.tenantContext?.tenant_name || 'Loja' }}",
              "type": "string"
            },
            {
              "id": "dd78b377-1f84-45ae-a098-938295a47d46",
              "name": "tenant_id",
              "value": "={{ $json.body?.tenantContext?.tenant_id || $json.tenantContext?.tenant_id || '' }}",
              "type": "string"
            },
            {
              "id": "18181818-1818-4181-8181-181818181818",
              "name": "sales_webhook_url",
              "value": "={{ $json.body?.tenantContext?.sales_webhook_url || $json.tenantContext?.sales_webhook_url || '' }}",
              "type": "string"
            },
            {
              "id": "f56f3bbd-60c4-4504-8117-4b9bc4cfa1c9",
              "name": "tenant_segment",
              "value": "={{ $json.body?.tenantContext?.tenant_segment || $json.tenantContext?.tenant_segment || 'Nao definido' }}",
              "type": "string"
            },
            {
              "id": "2c3f45db-0ef7-43ab-af18-c8bb1e9ff001",
              "name": "business_description",
              "value": "={{ $json.body?.tenantContext?.business_description || $json.tenantContext?.business_description || '' }}",
              "type": "string"
            },
            {
              "id": "d17e842c-53f1-4d90-8a26-952cd338d502",
              "name": "sales_playbook",
              "value": "={{ $json.body?.tenantContext?.sales_playbook || $json.tenantContext?.sales_playbook || '' }}",
              "type": "string"
            },
            {
              "id": "04d2d5df-0eb5-4cb8-8d2a-3daa28f03d80",
              "name": "tone_of_voice",
              "value": "={{ $json.body?.tenantContext?.tone_of_voice || $json.tenantContext?.tone_of_voice || '' }}",
              "type": "string"
            },
            {
              "id": "92a66d91-f9f6-4c4f-b0fb-380ceba1e40b",
              "name": "target_audience",
              "value": "={{ $json.body?.tenantContext?.target_audience || $json.tenantContext?.target_audience || '' }}",
              "type": "string"
            },
            {
              "id": "84dcfa88-3019-444b-a301-df7e056438dd",
              "name": "business_hours",
              "value": "={{ $json.body?.tenantContext?.business_hours || $json.tenantContext?.business_hours || '' }}",
              "type": "string"
            },
            {
              "id": "2d3e8ef6-9b2e-4ee7-9e0f-6f6cdb3d1c01",
              "name": "test_sender_whitelist_enabled",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e0a32b7f-4ff1-4986-a3d4-8724a3db2b02",
              "name": "test_sender_whitelist_numbers",
              "value": "5511966191991,5511966220880",
              "type": "string"
            },
            {
              "id": "866651e6-fb1e-4f83-b6b8-2775341aa56a",
              "name": "delivery_policies",
              "value": "={{ $json.body?.tenantContext?.delivery_policies || $json.tenantContext?.delivery_policies || '' }}",
              "type": "string"
            },
            {
              "id": "8f3e6913-5243-451d-a912-e25ae73fc848",
              "name": "payment_policies",
              "value": "={{ $json.body?.tenantContext?.payment_policies || $json.tenantContext?.payment_policies || '' }}",
              "type": "string"
            },
            {
              "id": "53d7e92d-9479-49c0-a1b2-cc2a6d359c07",
              "name": "exchange_policies",
              "value": "={{ $json.body?.tenantContext?.exchange_policies || $json.tenantContext?.exchange_policies || '' }}",
              "type": "string"
            },
            {
              "id": "69f580b7-bc13-4cc2-a38b-c05d783d24d5",
              "name": "policies",
              "value": "={{ $json.body?.tenantContext?.policies || $json.tenantContext?.policies || '' }}",
              "type": "string"
            },
            {
              "id": "0032e2de-027a-49b9-981d-fcd6850a896d",
              "name": "EvolutionAPI-Key",
              "value": "ZehoPdTXWqhdf46u8xX3R5xery6lPTaV",
              "type": "string"
            },
            {
              "id": "e5189e7d-4669-4866-92f0-b61c6263de7d",
              "name": "body",
              "value": "={{ $json.body || $json }}",
              "type": "object"
            },
            {
              "id": "58512a32-364f-417b-873a-efba1e4904d2",
              "name": "customer_number",
              "value": "={{ ($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3440,
        784
      ],
      "id": "ba0c6c80-fc70-4deb-bd6f-5f747a558ea0",
      "name": "Info"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d52f34bf-c010-46f4-bebc-d35edf33deb3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3696,
        784
      ],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.htech-servidor.space/mcp/mcp-firestore",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -2432,
        1120
      ],
      "id": "1d62768f-c0e8-411b-a6cf-502f3ed6eb5f",
      "name": "MCP Firestore - Customers"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook')?.first()?.json?.body?.data?.message?.conversation || \"\"}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2256,
        2064
      ],
      "id": "a06332b1-7399-435a-a4b9-4f1e82da0fab",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $('Info').item.json.tenant_id }}/customers?pageSize=500",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3600,
        1584
      ],
      "id": "df14850c-c34e-4ac0-89f7-394872fbcfdd",
      "name": "Consulta se contato já existe1",
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Processa contato [Identifica e Cadastra]",
        "height": 796,
        "width": 2040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3712,
        1440
      ],
      "id": "3f6053ba-e5fe-499e-830a-a36301b740e6",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $('Info').item.json.tenant_id }}/customers",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"name\": { \"stringValue\": \"{{ $('Filtrar Mensagens').item.json.pushName || $('Filtrar Mensagens').item.json.telefone }}\" },\n    \"phone\": { \"stringValue\": \"{{ $('Filtrar Mensagens').item.json.telefone }}\" },\n    \"whatsapp\": { \"stringValue\": \"{{ $('Filtrar Mensagens').item.json.telefone }}\" },\n    \"email\": { \"stringValue\": \"\" },\n    \"address\": { \"stringValue\": \"\" },\n    \"is_active\": { \"booleanValue\": true },\n    \"agent_off\": { \"booleanValue\": false },\n    \"created_at\": { \"timestampValue\": \"{{ $now.toISO() }}\" },\n    \"updated_at\": { \"timestampValue\": \"{{ $now.toISO() }}\" }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2960,
        1776
      ],
      "id": "f100a21f-c3da-4b37-841f-7cf3ae476003",
      "name": "Cadastra novo contato",
      "alwaysOutputData": true,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "ugtkRiS6Np7clpZ8",
          "name": "Key - Google Firebase Cloud"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20196cc0-dfd3-4b34-8289-ff9a5a31096d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3184,
        1584
      ],
      "id": "431f4190-22c9-431e-9cdb-59e19b3c6e72",
      "name": "Tem cadastro?"
    },
    {
      "parameters": {
        "jsCode": "const normalizePhone = (value = '') => String(value).replace(/\\D/g, '');\nconst docs = $input.first().json.documents || [];\nconst targetPhone = normalizePhone($('Filtrar Mensagens').first().json.telefone || '');\n\nconst parseField = (field) => {\n  if (!field || typeof field !== 'object') return field;\n\n  const valueKey = Object.keys(field).find((key) => key.endsWith('Value'));\n  if (valueKey) return field[valueKey];\n\n  if (field.mapValue) {\n    const mapFields = field.mapValue.fields || {};\n    const obj = {};\n    for (const [key, value] of Object.entries(mapFields)) {\n      obj[key] = parseField(value);\n    }\n    return obj;\n  }\n\n  if (field.arrayValue) {\n    const values = field.arrayValue.values || [];\n    return values.map(parseField);\n  }\n\n  return field;\n};\n\nfor (const doc of docs) {\n  const parsedData = {};\n  for (const [key, value] of Object.entries(doc.fields || {})) {\n    parsedData[key] = parseField(value);\n  }\n\n  const docPhone = normalizePhone(parsedData.whatsapp || parsedData.phone || '');\n  if (!docPhone || docPhone !== targetPhone) {\n    continue;\n  }\n\n  return [{\n    json: {\n      id: doc.name?.split('/').pop() || null,\n      ...parsedData\n    }\n  }];\n}\n\nreturn [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        1584
      ],
      "id": "215a408b-d640-4bc9-8204-343c2a427574",
      "name": "Formata JSON",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20196cc0-dfd3-4b34-8289-ff9a5a31096d",
              "leftValue": "={{ $json.hoursPassed }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2192,
        1552
      ],
      "id": "16c5893d-3b02-4950-a4da-33ecb77f5807",
      "name": "Já se passou 2h?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $('Info').first().json.tenant_id }}/customers/{{ $('Dados do Cliente').first().json.documentID }}?updateMask.fieldPaths=agent_off&updateMask.fieldPaths=time_agent_off",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"agent_off\": { \"booleanValue\": false },\n    \"time_agent_off\": { \"stringValue\": \"\" }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        1536
      ],
      "id": "9d4e5b38-28b0-46e9-8436-c53a1a0a0bae",
      "name": "Resetar AgentOff",
      "alwaysOutputData": false,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "ugtkRiS6Np7clpZ8",
          "name": "Key - Google Firebase Cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2032,
        1776
      ],
      "id": "c00e24ee-dd18-49bc-8532-d824645be524",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const tsRaw = $('Formata JSON').first().json.time_agent_off\n\nif (!tsRaw || tsRaw === '' || tsRaw === null || tsRaw === undefined) {\n  return [{ json: { hoursPassed: 999 } }];\n}\n\nlet tsMillis = null;\nlet valid = true;\n\nif (typeof tsRaw === 'number') {\n  tsMillis = tsRaw < 1e12 ? tsRaw * 1000 : tsRaw;\n} else if (typeof tsRaw === 'string') {\n  const digitsOnly = /^\\d+$/;\n  if (digitsOnly.test(tsRaw)) {\n    const n = Number(tsRaw);\n    tsMillis = n < 1e12 ? n * 1000 : n;\n  } else {\n    const parsed = Date.parse(tsRaw);\n    if (Number.isNaN(parsed)) {\n      valid = false;\n    } else {\n      tsMillis = parsed;\n    }\n  }\n} else {\n  valid = false;\n}\n\nlet hoursPassed = 999;\nif (valid && tsMillis) {\n  const now = Date.now();\n  hoursPassed = (now - tsMillis) / (1000 * 60 * 60);\n}\n\nreturn [{ json: { hoursPassed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        1552
      ],
      "id": "d2bce6a7-57c5-4b5c-aa62-11761ada1e36",
      "name": "Conta quantas horas se passou"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20196cc0-dfd3-4b34-8289-ff9a5a31096d",
              "leftValue": "={{ $('Formata JSON').item.json.agent_off }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2688,
        1568
      ],
      "id": "56d63217-a942-4c59-b65d-e067fe425f4f",
      "name": "AgentOff?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4265dcaf-3dac-4462-b8a3-6d1082141e03",
              "name": "Nome",
              "value": "={{ $('Formata JSON').item.json.name }}",
              "type": "string"
            },
            {
              "id": "676d14ec-72d3-4970-9fa0-5e39ff976011",
              "name": "Numero",
              "value": "={{ $('Formata JSON').item.json.whatsapp || $('Formata JSON').item.json.phone || $('Filtrar Mensagens').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "748a9c6e-20d2-4a0d-9301-617fbc0036db",
              "name": "documentID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "38a81b94-c017-42ea-9cfe-5ea34bdf5313",
              "name": "email",
              "value": "={{ $('Formata JSON').item.json.email }}",
              "type": "string"
            },
            {
              "id": "25f9d72f-0ec7-48dc-beaa-247074fdaf39",
              "name": "=address",
              "value": "={{ $('Formata JSON').item.json.address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        1568
      ],
      "id": "eb48423a-e24c-4339-8154-9bab0ca36b5a",
      "name": "Dados do Cliente",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const ultimaMensagemDaFila = $input.last();\nconst mensagemDoWorkflow = $('Enfileirar mensagem.').first();\nconst latestId = ultimaMensagemDaFila.json.id ?? ultimaMensagemDaFila.json.id_mensagem ?? null;\nconst currentId = mensagemDoWorkflow.json.id ?? mensagemDoWorkflow.json.id_mensagem ?? null;\n\nif (latestId !== null && currentId !== null && latestId !== currentId) {\n  return [];\n}\n\nconst texto = $input\n  .all()\n  .map((item) => item.json.message ?? '')\n  .filter(Boolean)\n  .join('\\n');\n\nif (!texto) {\n  return [];\n}\n\nreturn [{ json: { texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1632
      ],
      "id": "45ad42b8-2a3b-4d58-99d1-ed8d95326d08",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=queue_messages",
          "mode": "name"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('Dados do Cliente').item.json.Numero }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        1632
      ],
      "id": "5c6c1d9e-4012-447f-bf02-65c00ee22ad0",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "Fx8qDQZBagj5vyVj",
          "name": "Supabase-SaaS-Manu"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=queue_messages",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('Dados do Cliente').first().json.Numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        1632
      ],
      "id": "6abe32e4-5417-4b79-9cb2-391b300f82fe",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "Fx8qDQZBagj5vyVj",
          "name": "Supabase-SaaS-Manu"
        }
      }
    },
    {
      "parameters": {
        "content": "# Processando mensagens de Texto encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n",
        "height": 540,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        1440
      ],
      "id": "414e211b-4b46-42ba-8b29-5ffbd495ce5e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 8,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1296,
        1632
      ],
      "id": "eb9a7380-a82d-413c-87e8-e0cfa4734e0a",
      "name": "Esperar",
      "webhookId": "8009ebaf-d0e1-4d71-9574-93f418978eb6"
    },
    {
      "parameters": {
        "content": "# Processando mensagem de Audio",
        "height": 420,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        2000
      ],
      "id": "e7f8292d-f03b-4168-a19f-bd2b54bc109d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Marcar como lida e \"digitando...\"",
        "height": 1004,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        1424
      ],
      "id": "483c569c-a0f9-4b9c-b807-479e2f4a5968",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=queue_messages",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $('Filtrar Mensagens').item.json.timestamp }}",
            "message": "={{ $('Filtrar Mensagens').item.json.texto }}",
            "phone": "={{ $('Filtrar Mensagens').item.json.telefone }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1504,
        1632
      ],
      "id": "363e0912-4112-40b2-aae0-fca4a41cd0b7",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "Fx8qDQZBagj5vyVj",
          "name": "Supabase-SaaS-Manu"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4265dcaf-3dac-4462-b8a3-6d1082141e03",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?').item.json.texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        1632
      ],
      "id": "af3dd12c-1d28-49aa-a89b-701c48e47f61",
      "name": "Set mensagens",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/chat/sendPresence/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, presence: 'composing', delay: 12000 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        1632
      ],
      "id": "e09f5d49-e965-48d1-b594-ee524739677e",
      "name": "Enviar - Default1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -960,
        2096
      ],
      "id": "1a1863ad-2ab0-4e60-81d5-4d62c6a917e8",
      "name": "Transcrever áudio",
      "credentials": {
        "openAiApi": {
          "id": "PnaR3jv748d1yu1I",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Info').item.json['evolution-api_instancia'] }}",
        "messageId": "={{ $('Info').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1536,
        2096
      ],
      "id": "72e462f0-3b0c-4124-9aed-e8179feb755a",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "M6bGmFNfvOgZac2f",
          "name": "Loja-Exemplo-1"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        2096
      ],
      "id": "ec69d50d-b843-4aa6-b7cf-abbb01dd6e86",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/chat/sendPresence/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, presence: 'recording', delay: 12000 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        2096
      ],
      "id": "b5335970-ebee-40af-a32d-989ec37b4564",
      "name": "Marcar como lida",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74",
              "name": "mensagem",
              "value": "={{ $('Transcrever áudio').item.json.text || '[O cliente enviou um áudio mas não consegui entender. Peça para ele enviar por texto.]' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        2096
      ],
      "id": "99957613-77ff-47a2-b41c-03983946efbf",
      "name": "Set mensagem.",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79c06d14-e01b-4b1a-9cfc-1868e590bfcd",
              "leftValue": "={{ $('Webhook').first().json.body.data.messageType }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2480,
        752
      ],
      "id": "4303d6d1-ab2f-4e0c-8552-b0efc04445f7",
      "name": "Resposta em áudio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'tts-1', input: $('Tratar resposta do agente').first().json.responseToCustomer, voice: 'nova' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        608
      ],
      "id": "aa1b9c65-a48f-4e88-8227-5a7cf5678494",
      "name": "Gerar áudio TTS",
      "credentials": {
        "openAiApi": {
          "id": "PnaR3jv748d1yu1I",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\n\nreturn [{\n  json: {\n    audioBase64: base64\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        608
      ],
      "id": "4dd12751-a4f8-4b22-96b0-60adcd6efbf5",
      "name": "Audio para Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/message/sendWhatsAppAudio/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, audio: $json.audioBase64 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        608
      ],
      "id": "5862ecd0-c399-47b2-ae81-dd75931e38dc",
      "name": "Enviar áudio",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2080,
        608
      ],
      "id": "4c4db96b-4bf6-41d4-9d17-611c41dc5d6e",
      "name": "Resetar status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2080,
        848
      ],
      "id": "8f31ff5e-ca7c-4a66-b2f4-15b167c5e16f",
      "name": "Resetar status1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        1632
      ],
      "id": "f68d9d15-5156-4059-8519-4ff542cf0506",
      "name": "Gravando async"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -176,
        2096
      ],
      "id": "7aa9855e-386d-4647-8ba7-7d7d6f9789e9",
      "name": "Gravando async1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('AI Agent Vendas').first().json.output || '';\nconst fallback = {\n  responseToCustomer: String(raw || '').trim(),\n  sendProductImages: [],\n  finishThread: true,\n  continueService: ''\n};\n\nconst sanitizeImages = (images) => (Array.isArray(images) ? images : [])\n  .map((item) => ({\n    url: String(item?.url || '').trim(),\n    caption: String(item?.caption || '').trim()\n  }))\n  .filter((item) => item.url)\n  .slice(0, 2);\n\ntry {\n  const cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\n  const parsed = JSON.parse(cleaned);\n  return [{\n    json: {\n      responseToCustomer: String(parsed.responseToCustomer || fallback.responseToCustomer).trim(),\n      sendProductImages: sanitizeImages(parsed.sendProductImages),\n      finishThread: parsed.finishThread !== false,\n      continueService: String(parsed.continueService || '').trim()\n    }\n  }];\n} catch (error) {\n  return [{ json: fallback }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        976
      ],
      "id": "be9ea070-669c-4718-8c3a-0fc1903fc72c",
      "name": "Tratar resposta do agente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d76d0f9-3a8d-42aa-bcd2-cf1ae3252dc8",
              "leftValue": "={{ $('Tratar resposta do agente').first().json.sendProductImages?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2368,
        1104
      ],
      "id": "65b1798f-11cf-4b74-81d9-2e75d958544e",
      "name": "Tem imagens?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/message/sendMedia/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, mediatype: 'image', media: $('Tratar resposta do agente').first().json.sendProductImages[0]?.url || '', caption: $('Tratar resposta do agente').first().json.sendProductImages[0]?.caption || '', fileName: 'produto-1.jpg' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2144,
        1056
      ],
      "id": "372e0a9a-2051-4cd6-84ef-ff92c7cce218",
      "name": "Enviar imagem 1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "902fc1b8-3f84-4c50-a43f-19c0fc0fbb8c",
              "leftValue": "={{ $('Tratar resposta do agente').first().json.sendProductImages?.length || 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1920,
        1056
      ],
      "id": "8b2d69a0-f248-40f4-8d78-cd46f8b99fae",
      "name": "Tem segunda imagem?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Info').first().json.body?.server_url || 'https://chatwoot.htech-servidor.space') + '/message/sendMedia/' + $('Info').first().json['evolution-api_instancia'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Info').first().json['EvolutionAPI-Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Filtrar Mensagens').item.json.telefone, mediatype: 'image', media: $('Tratar resposta do agente').first().json.sendProductImages[1]?.url || '', caption: $('Tratar resposta do agente').first().json.sendProductImages[1]?.caption || '', fileName: 'produto-2.jpg' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        1008
      ],
      "id": "0734b954-86f0-47af-8f49-12e4b8f58308",
      "name": "Enviar imagem 2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Consulta se contato já existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Vendas": {
      "main": [
        [
          {
            "node": "Tratar resposta do agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Vendas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Vendas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Firestore - Customers": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Vendas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta se contato já existe1": {
      "main": [
        [
          {
            "node": "Formata JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra novo contato": {
      "main": [
        [
          {
            "node": "Consulta se contato já existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem cadastro?": {
      "main": [
        [
          {
            "node": "Dados do Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastra novo contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata JSON": {
      "main": [
        [
          {
            "node": "Tem cadastro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já se passou 2h?": {
      "main": [
        [
          {
            "node": "Resetar AgentOff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar AgentOff": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta quantas horas se passou": {
      "main": [
        [
          {
            "node": "Já se passou 2h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgentOff?": {
      "main": [
        [
          {
            "node": "Conta quantas horas se passou",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Cliente": {
      "main": [
        [
          {
            "node": "AgentOff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Enviar - Default1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mensagens": {
      "main": [
        [
          {
            "node": "AI Agent Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar - Default1": {
      "main": [
        [
          {
            "node": "Gravando async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever áudio": {
      "main": [
        [
          {
            "node": "Marcar como lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Transcrever áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida": {
      "main": [
        [
          {
            "node": "Gravando async1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mensagem.": {
      "main": [
        [
          {
            "node": "AI Agent Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar resposta do agente": {
      "main": [
        [
          {
            "node": "Tem imagens?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resposta em áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem imagens?": {
      "main": [
        [
          {
            "node": "Enviar imagem 1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enviar imagem 1": {
      "main": [
        [
          {
            "node": "Tem segunda imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem segunda imagem?": {
      "main": [
        [
          {
            "node": "Enviar imagem 2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Resposta em áudio?": {
      "main": [
        [
          {
            "node": "Resetar status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resetar status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio TTS": {
      "main": [
        [
          {
            "node": "Audio para Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio para Base64": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status": {
      "main": [
        [
          {
            "node": "Gerar áudio TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando async": {
      "main": [
        [
          {
            "node": "Set mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravando async1": {
      "main": [
        [
          {
            "node": "Set mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f610a00096a913663098d07d4589b06a2b6a8fa62c633cf329d6f8ac12d3afd"
  }
}
