automation/n8n/workflows/production/subworkflows/channel/update-whatsapp-status.json
{
  "name": "Sub - Atualizar Status WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-status-internal",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        480
      ],
      "id": "25e54aa6-ac9a-49c6-9017-4b4b21237639",
      "name": "Webhook Status WhatsApp",
      "webhookId": "whatsapp-status-internal"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\n\nconst normalizePhone = (value = '') => String(value).replace(/\\D/g, '');\nconst normalizeStatus = (value = '') => {\n  const status = String(value || '').trim().toLowerCase();\n\n  if (['composing', 'typing', 'digitando'].includes(status)) return 'composing';\n  if (['recording', 'gravando', 'gravando_audio', 'gravando-audio'].includes(status)) return 'recording';\n  if (['paused', 'pause', 'stop', 'reset', 'available'].includes(status)) return 'paused';\n  return 'paused';\n};\n\nconst presence = normalizeStatus(payload.status || payload.presence);\nconst isReset = presence === 'paused';\nconst rawDelay = Number(payload.delay);\nconst delay = Number.isFinite(rawDelay)\n  ? Math.max(0, rawDelay)\n  : (isReset ? 0 : 300000);\nconst serverUrl = String(payload.server_url || payload.base_url || 'https://chatwoot.htech-servidor.space').trim().replace(/\\/$/, '');\n\nreturn [{\n  json: {\n    instancia: String(payload.instancia || payload.instance || '').trim(),\n    telefone: normalizePhone(payload.telefone || payload.number || payload.phone || ''),\n    presence,\n    delay,\n    apikey: String(payload.apikey || payload.api_key || '').trim(),\n    server_url: serverUrl,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "id": "2b34c4e1-3f3c-4411-9f1a-989f0e8e0101",
      "name": "Normalizar status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.server_url + '/chat/sendPresence/' + $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.telefone, presence: $json.presence, delay: $json.delay }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        480
      ],
      "id": "df6b40cb-0e0b-433d-b167-633ffb7f558b",
      "name": "Atualizar status",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Status WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar status": {
      "main": [
        [
          {
            "node": "Atualizar status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d747e13e-5c67-46b0-ad1f-14ecd882e86c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f610a00096a913663098d07d4589b06a2b6a8fa62c633cf329d6f8ac12d3afd"
  },
  "id": "dq34Nu1lmyMdp1rb",
  "tags": [
    {
      "updatedAt": "2025-10-21T21:54:32.207Z",
      "createdAt": "2025-10-21T21:54:32.207Z",
      "id": "Kq1l6BpASOuWM23q",
      "name": "RUNAS"
    }
  ]
}
