automation/n8n/workflows/production/subworkflows/orders/lookup-customer-order.json
{
  "name": "Sub - Consultar Pedido do Cliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tenant_id"
            },
            {
              "name": "customer_id"
            },
            {
              "name": "phone"
            },
            {
              "name": "order_number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        16
      ],
      "id": "11111111-1111-4aa1-8aa1-111111111111",
      "name": "Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $json.tenant_id }}:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"structuredQuery\": {\n    \"from\": [{ \"collectionId\": \"sales\" }],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": { \"fieldPath\": \"customer_id\" },\n        \"op\": \"EQUAL\",\n        \"value\": { \"stringValue\": \"{{ $json.customer_id }}\" }\n      }\n    },\n    \"limit\": 100\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        16
      ],
      "id": "22222222-2222-4aa2-8aa2-222222222222",
      "name": "Buscar Pedidos",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Workflow Trigger').first().json;\nconst targetOrderNumber = String(trigger.order_number || '').replace(/\\D/g, '');\nconst targetPhone = String(trigger.phone || '').replace(/\\D/g, '');\nconst docs = $input.all().map((entry) => entry.json).filter((entry) => entry && entry.document);\n\nconst parseField = (field) => {\n  if (!field || typeof field !== 'object') return field;\n  if (field.stringValue !== undefined) return field.stringValue;\n  if (field.integerValue !== undefined) return Number(field.integerValue);\n  if (field.doubleValue !== undefined) return Number(field.doubleValue);\n  if (field.booleanValue !== undefined) return field.booleanValue;\n  if (field.timestampValue !== undefined) return field.timestampValue;\n  if (field.nullValue !== undefined) return null;\n  if (field.arrayValue) return (field.arrayValue.values || []).map(parseField);\n  if (field.mapValue) {\n    const obj = {};\n    for (const [key, value] of Object.entries(field.mapValue.fields || {})) {\n      obj[key] = parseField(value);\n    }\n    return obj;\n  }\n  return null;\n};\n\nconst normalizePhone = (value = '') => String(value).replace(/\\D/g, '');\nconst formatCurrency = (value) => {\n  const amount = Number(value || 0);\n  return amount.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n};\nconst describeStatus = (saleStatus, orderStatus) => {\n  if (saleStatus === 'payment_sent') {\n    return 'aguardando pagamento';\n  }\n  switch (orderStatus) {\n    case 'awaiting_processing':\n    case 'separating':\n      return 'aguardando processamento';\n    case 'preparing':\n      return 'em preparacao';\n    case 'packing':\n      return 'embalando';\n    case 'awaiting_pickup':\n      return 'aguardando retirada';\n    case 'ready_for_pickup':\n    case 'ready_for_shipping':\n    case 'ready':\n      return 'pronto para envio ou retirada';\n    case 'shipped':\n      return 'enviado';\n    case 'completed':\n      return 'concluido';\n    default:\n      return saleStatus === 'confirmed' ? 'em andamento' : 'aguardando definicao';\n  }\n};\nconst formatDate = (value = '') => {\n  const parsed = Date.parse(String(value || '').trim());\n  if (Number.isNaN(parsed)) return '';\n  return new Date(parsed).toLocaleString('pt-BR');\n};\nconst summarizeItems = (items) => {\n  if (!Array.isArray(items) || items.length === 0) return 'sem itens detalhados';\n  return items\n    .slice(0, 4)\n    .map((item) => `${item.quantity || 1}x ${String(item.product_name || item.name || 'item').trim()}`)\n    .join('; ');\n};\n\nconst sales = docs\n  .map((raw) => {\n    const fields = raw.document.fields || {};\n    const items = parseField(fields.items) || [];\n    const publicOrderNumber = String(parseField(fields.public_order_number) || '').trim();\n    const customerWhatsapp = normalizePhone(parseField(fields.customer_whatsapp) || '');\n    const status = String(parseField(fields.status) || '').trim();\n    const orderStatus = String(parseField(fields.order_status) || '').trim();\n    return {\n      sale_id: raw.document.name.split('/').pop(),\n      order_number: publicOrderNumber,\n      order_number_label: publicOrderNumber ? `#${publicOrderNumber}` : '',\n      status,\n      order_status: orderStatus,\n      customer_id: String(parseField(fields.customer_id) || '').trim(),\n      customer_whatsapp: customerWhatsapp,\n      total: Number(parseField(fields.total) || 0),\n      customer_name: String(parseField(fields.customer_name) || '').trim(),\n      items,\n      items_summary: summarizeItems(items),\n      created_at: String(parseField(fields.created_at) || '').trim(),\n      current_status_label: describeStatus(status, orderStatus),\n    };\n  })\n  .filter((sale) => sale.status && sale.status !== 'cancelled')\n  .filter((sale) => !targetPhone || !sale.customer_whatsapp || sale.customer_whatsapp === targetPhone)\n  .sort((a, b) => String(b.created_at || '').localeCompare(String(a.created_at || '')));\n\nconst compactOrders = sales.slice(0, 10).map((sale) => ({\n  sale_id: sale.sale_id,\n  order_number: sale.order_number,\n  order_number_label: sale.order_number_label,\n  status: sale.status,\n  order_status: sale.order_status,\n  current_status_label: sale.current_status_label,\n  total: sale.total,\n  total_label: formatCurrency(sale.total),\n  created_at: sale.created_at,\n  created_at_label: formatDate(sale.created_at),\n  items_summary: sale.items_summary,\n}));\n\nlet matchedSale = null;\nif (targetOrderNumber) {\n  matchedSale = sales.find((sale) => sale.order_number === targetOrderNumber) || null;\n}\nif (!matchedSale) {\n  matchedSale = sales[0] || null;\n}\n\nif (!matchedSale) {\n  return [{\n    json: {\n      success: false,\n      found: false,\n      total_orders_found: 0,\n      recent_orders: [],\n      recent_orders_summary: 'Nenhum pedido encontrado para este cliente.',\n      message: 'Nenhum pedido encontrado para este cliente.'\n    }\n  }];\n}\n\nconst recentOrdersSummary = compactOrders.length > 0\n  ? compactOrders\n      .map((order) => `${order.order_number_label || 'Pedido sem numero'} em ${order.created_at_label || 'data indisponivel'}: ${order.current_status_label}; total ${order.total_label}; itens ${order.items_summary}`)\n      .join(' | ')\n  : 'Nenhum pedido anterior encontrado.';\n\nreturn [{\n  json: {\n    success: true,\n    found: true,\n    ...matchedSale,\n    total_label: formatCurrency(matchedSale.total),\n    created_at_label: formatDate(matchedSale.created_at),\n    total_orders_found: sales.length,\n    recent_orders: compactOrders,\n    recent_orders_summary: recentOrdersSummary,\n    matched_order_items_summary: matchedSale.items_summary,\n    latest_order_number_label: compactOrders[0]?.order_number_label || matchedSale.order_number_label,\n    latest_order_status_label: compactOrders[0]?.current_status_label || matchedSale.current_status_label,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        16
      ],
      "id": "33333333-3333-4aa3-8aa3-333333333333",
      "name": "Normalizar Pedido"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedidos": {
      "main": [
        [
          {
            "node": "Normalizar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c9d6d8dd-9bf5-4e2b-8c16-8e52af910001",
  "meta": {
    "instanceId": "8f610a00096a913663098d07d4589b06a2b6a8fa62c633cf329d6f8ac12d3afd"
  },
  "id": "1YyfRLyYGtNeVcuA",
  "tags": []
}
