automation/n8n/workflows/production/subworkflows/catalog/register-stock-alert.json
{
  "name": "Sub - Registrar Aviso de Estoque",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tenant_id"
            },
            {
              "name": "phone"
            },
            {
              "name": "customer_name"
            },
            {
              "name": "customer_id"
            },
            {
              "name": "product_id"
            },
            {
              "name": "product_name"
            },
            {
              "name": "desired_quantity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1264,
        0
      ],
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Workflow Trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $json.tenant_id }}/products/{{ $json.product_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        0
      ],
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Buscar Produto",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Workflow Trigger').first().json;\nconst product = $input.first().json || {};\nconst fields = product.fields || {};\n\nif (!product.name) {\n  return [{ json: { success: false, message: 'Produto não encontrado.' } }];\n}\n\nconst stock = Number(fields.stock?.integerValue ?? fields.stock?.doubleValue ?? 0);\nconst isActive = fields.is_active?.booleanValue !== false;\n\nif (!isActive) {\n  return [{ json: { success: false, message: 'Produto inativo.' } }];\n}\n\nif (stock > 0) {\n  return [{ json: { success: false, in_stock: true, message: 'Produto com estoque disponível; não é necessário criar aviso.' } }];\n}\n\nreturn [{\n  json: {\n    tenant_id: trigger.tenant_id,\n    phone: trigger.phone,\n    customer_name: trigger.customer_name,\n    customer_id: trigger.customer_id,\n    product_id: trigger.product_id,\n    product_name: trigger.product_name || fields.name?.stringValue || '',\n    desired_quantity: Number(trigger.desired_quantity || 1),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        0
      ],
      "id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "Validar Produto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "can-register",
              "leftValue": "={{ $json.product_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        0
      ],
      "id": "dddddddd-dddd-4ddd-8ddd-dddddddddddd",
      "name": "Pode Registrar?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $json.tenant_id }}:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"structuredQuery\": {\n    \"from\": [{ \"collectionId\": \"stockAlerts\" }],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": { \"fieldPath\": \"customer_id\" },\n              \"op\": \"EQUAL\",\n              \"value\": { \"stringValue\": \"{{ $json.customer_id }}\" }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": { \"fieldPath\": \"product_id\" },\n              \"op\": \"EQUAL\",\n              \"value\": { \"stringValue\": \"{{ $json.product_id }}\" }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": { \"fieldPath\": \"status\" },\n              \"op\": \"EQUAL\",\n              \"value\": { \"stringValue\": \"pending\" }\n            }\n          }\n        ]\n      }\n    },\n    \"limit\": 1\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -96
      ],
      "id": "eeeeeeee-eeee-4eee-8eee-eeeeeeeeeeee",
      "name": "Buscar Aviso Existente",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Validar Produto').first().json;\nconst raw = $input.first().json || {};\nconst existingDocName = raw.document?.name || null;\nconst existingFields = raw.document?.fields || {};\nconst nextQuantity = Math.max(\n  Number(trigger.desired_quantity || 1),\n  Number(existingFields.desired_quantity?.integerValue ?? existingFields.desired_quantity?.doubleValue ?? 1),\n);\nconst now = new Date().toISOString();\nconst baseUrl = `https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/${trigger.tenant_id}/stockAlerts`;\n\nconst body = {\n  fields: {\n    customer_id: { stringValue: trigger.customer_id || '' },\n    customer_name: { stringValue: trigger.customer_name || '' },\n    customer_whatsapp: { stringValue: trigger.phone || '' },\n    product_id: { stringValue: trigger.product_id || '' },\n    product_name: { stringValue: trigger.product_name || '' },\n    desired_quantity: { integerValue: String(nextQuantity) },\n    status: { stringValue: 'pending' },\n    updated_at: { stringValue: now },\n  }\n};\n\nif (existingDocName) {\n  const alertId = existingDocName.split('/').pop();\n  return [{\n    json: {\n      method: 'PATCH',\n      url: `${baseUrl}/${alertId}?updateMask.fieldPaths=customer_name&updateMask.fieldPaths=customer_whatsapp&updateMask.fieldPaths=product_name&updateMask.fieldPaths=desired_quantity&updateMask.fieldPaths=status&updateMask.fieldPaths=updated_at`,\n      body,\n      alert_id: alertId,\n      created: false,\n      message: 'Cliente já estava aguardando esse produto; aviso atualizado.'\n    }\n  }];\n}\n\nbody.fields.created_at = { stringValue: now };\nbody.fields.resolved_at = { nullValue: null };\nbody.fields.notes = { nullValue: null };\n\nreturn [{\n  json: {\n    method: 'POST',\n    url: baseUrl,\n    body,\n    created: true,\n    message: 'Aviso de estoque registrado com sucesso.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -96
      ],
      "id": "ffffffff-ffff-4fff-8fff-ffffffffffff",
      "name": "Preparar Escrita"
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -96
      ],
      "id": "12121212-1212-4121-8121-121212121212",
      "name": "Salvar Aviso",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Preparar Escrita').first().json;\nconst response = $input.first().json || {};\nconst alertId = prev.alert_id || (response.name ? response.name.split('/').pop() : null);\n\nreturn [{\n  json: {\n    success: true,\n    ok: true,\n    created: prev.created === true,\n    alert_id: alertId,\n    message: prev.message,\n    product_id: $('Validar Produto').first().json.product_id,\n    product_name: $('Validar Produto').first().json.product_name,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -96
      ],
      "id": "13131313-1313-4131-8131-131313131313",
      "name": "Resultado"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ],
      "id": "14141414-1414-4141-8141-141414141414",
      "name": "Sem Registro"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produto": {
      "main": [
        [
          {
            "node": "Validar Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Produto": {
      "main": [
        [
          {
            "node": "Pode Registrar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode Registrar?": {
      "main": [
        [
          {
            "node": "Buscar Aviso Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Aviso Existente": {
      "main": [
        [
          {
            "node": "Preparar Escrita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Escrita": {
      "main": [
        [
          {
            "node": "Salvar Aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Aviso": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "15151515-1515-4151-8151-151515151515",
  "meta": {
    "instanceId": "8f610a00096a913663098d07d4589b06a2b6a8fa62c633cf329d6f8ac12d3afd"
  },
  "id": "REGISTRAR_AVISO_ESTOQUE_ID",
  "tags": []
}
