automation/n8n/workflows/production/subworkflows/cart/cart-view.json
{
  "name": "Sub - Carrinho View",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tenant_id"
            },
            {
              "name": "phone"
            },
            {
              "name": "customer_name"
            },
            {
              "name": "customer_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        -32
      ],
      "id": "34a91a3a-bc35-462a-87c9-5e69f92d52da",
      "name": "Workflow Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/{{ $json.tenant_id }}:runQuery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"structuredQuery\": {\n    \"from\": [{ \"collectionId\": \"carts\" }],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": { \"fieldPath\": \"phone\" },\n        \"op\": \"EQUAL\",\n        \"value\": { \"stringValue\": \"{{ $json.phone }}\" }\n      }\n    },\n    \"limit\": 20\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        -32
      ],
      "id": "fa34b9fa-2ae9-431e-8e5b-5abab1ae77c9",
      "name": "Buscar Carrinho Existente",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entries = $input.all().map((entry) => entry.json).filter((entry) => entry && entry.document);\nconst cartDocs = entries.map((raw) => {\n  const fields = raw.document.fields || {};\n  const items = [];\n  if (fields.items?.arrayValue?.values) {\n    for (const value of fields.items.arrayValue.values) {\n      if (value.mapValue?.fields) {\n        const itemFields = value.mapValue.fields;\n        items.push({\n          sku: itemFields.sku?.stringValue || '',\n          product_name: itemFields.product_name?.stringValue || '',\n          price: Number(itemFields.price?.doubleValue ?? itemFields.price?.integerValue ?? 0),\n          quantity: Number(itemFields.quantity?.integerValue ?? itemFields.quantity?.doubleValue ?? 1),\n        });\n      }\n    }\n  }\n\n  return {\n    updatedAt: fields.updated_at?.stringValue || fields.created_at?.stringValue || '',\n    items,\n  };\n}).sort((a, b) => String(b.updatedAt).localeCompare(String(a.updatedAt)));\n\nconst mergedBySku = new Map();\nfor (const doc of cartDocs) {\n  for (const item of doc.items) {\n    const sku = String(item.sku || '').trim();\n    if (!sku) {\n      continue;\n    }\n\n    const current = mergedBySku.get(sku);\n    if (current) {\n      current.quantity += Number(item.quantity || 0);\n      if (!current.product_name && item.product_name) {\n        current.product_name = item.product_name;\n      }\n      if (!current.price && item.price) {\n        current.price = item.price;\n      }\n    } else {\n      mergedBySku.set(sku, {\n        sku,\n        product_name: String(item.product_name || '').trim(),\n        price: Number(item.price || 0),\n        quantity: Number(item.quantity || 0),\n      });\n    }\n  }\n}\n\nconst items = Array.from(mergedBySku.values()).filter((item) => item.sku && item.quantity > 0);\nconst total = Math.round(items.reduce((sum, item) => sum + (Number(item.price || 0) * Number(item.quantity || 0)), 0) * 100) / 100;\nconst itemCount = items.reduce((sum, item) => sum + Number(item.quantity || 0), 0);\n\nif (items.length === 0) {\n  return [{ json: { success: true, empty: true, message: 'Carrinho vazio.', items: [], total: 0, item_count: 0 } }];\n}\n\nreturn [{ json: { success: true, empty: false, items, total, item_count: itemCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -32
      ],
      "id": "30fbf592-855a-4fb0-97fa-6e5980f6142f",
      "name": "Lógica do Carrinho"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-action",
              "leftValue": "={{ $json._action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        -32
      ],
      "id": "bb781657-29ab-43b0-a461-632116bd11f3",
      "name": "Precisa Salvar?"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst action = 'view';\nconst tenantId = data._tenantId;\nconst cartId = data._cartId;\nconst baseUrl = `https://firestore.googleapis.com/v1/projects/saas-manu-project/databases/(default)/documents/tenants/${tenantId}`;\n\nif (action === 'delete' && cartId) {\n  return [{ json: { method: 'DELETE', url: `${baseUrl}/carts/${cartId}`, body: null } }];\n}\n\nconst itemsArray = (data.items || []).map(i => ({\n  mapValue: {\n    fields: {\n      sku: { stringValue: i.sku || '' },\n      product_name: { stringValue: i.product_name || '' },\n      price: { doubleValue: i.price },\n      quantity: { integerValue: String(i.quantity) },\n    }\n  }\n}));\n\nconst body = {\n  fields: {\n    phone: { stringValue: data._phone || '' },\n    customer_name: { stringValue: data._customerName || '' },\n    customer_id: { stringValue: data._customerId || '' },\n    items: { arrayValue: { values: itemsArray } },\n    total: { doubleValue: data.total || 0 },\n    status: { stringValue: 'open' },\n    updated_at: { stringValue: new Date().toISOString() }\n  }\n};\n\nif (action === 'create') {\n  body.fields.created_at = { stringValue: new Date().toISOString() };\n  return [{ json: { method: 'POST', url: `${baseUrl}/carts`, body } }];\n}\n\nif (action === 'update' && cartId) {\n  const mask = 'updateMask.fieldPaths=items&updateMask.fieldPaths=total&updateMask.fieldPaths=status&updateMask.fieldPaths=updated_at';\n  return [{ json: { method: 'PATCH', url: `${baseUrl}/carts/${cartId}?${mask}`, body } }];\n}\n\nreturn [{ json: { method: 'NONE' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -128
      ],
      "id": "c578ba35-eb8a-4f92-a1eb-659914a7592a",
      "name": "Preparar Requisição"
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -128
      ],
      "id": "c82c3a9e-e385-45cb-8d0f-bbae12ed852f",
      "name": "Salvar no Firestore",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "QxD9cYkBZKwyeLQL",
          "name": "Saas Manu - Firestore OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Lógica do Carrinho').first().json;\nconst { _action, _cartId, _tenantId, _phone, _customerName, _customerId, ...clean } = prev;\nreturn [{ json: clean }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "1ac8efce-eea2-4e07-86e9-8842d548eac2",
      "name": "Limpar Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar Carrinho Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Carrinho Existente": {
      "main": [
        [
          {
            "node": "Lógica do Carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica do Carrinho": {
      "main": [
        [
          {
            "node": "Precisa Salvar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Salvar?": {
      "main": [
        [
          {
            "node": "Preparar Requisição",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Requisição": {
      "main": [
        [
          {
            "node": "Salvar no Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Firestore": {
      "main": [
        [
          {
            "node": "Limpar Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c11b0f95-5295-4487-83b0-0c48eacda05a",
  "meta": {
    "instanceId": "8f610a00096a913663098d07d4589b06a2b6a8fa62c633cf329d6f8ac12d3afd"
  },
  "id": "gxZhfi6ne4nkSITs",
  "tags": []
}
